
.header{
	text-align: center;
	font-family: Helvetica;
	background-color: white;
	padding: 5px;
}

.linkbar{
	background-color: #f7f7f7;
	overflow: hidden;
	padding: 12px;
}

.linkbar a{
	font-family: Helvetica;
	text-decoration: none;
	float: left;
	text-align: center;
	width: 50%;
}


body{
	background-color: white;
}


div.data{
	background-color: #e3e7ed;
	border: solid;
	border-width: 50%;
	border-color: #bec8d8;
	text-align: center
}

input[type=text]{
	width: 10%;
	padding: 8px;
	margin: 20px;
	display: inline-block;
}
